<mat-tab-group>

  <mat-tab label="Search by name">
    <div class="content" role="main">
      <div class="card">
        <div class="form-group">
          <label for="search-text-name">Search country by name</label>
          <input type="email" class="form-control" id="search-text-name" aria-describedby="search-text"
                 [(ngModel)]="countryName"
                 placeholder="Enter country to search" autofocus>
          <button mat-raised-button color="primary" (click)="searchByName()">Search</button>

        </div>
      </div>
    </div>
    <div class="content" role="main">
      <div class="card">
        <div class="form-group">
          <h2>{{country.name}} Details</h2>
          <p>Domain: {{country.demonym}}</p>
          <p>Capital: {{country.capital}}</p>
          <p>Region: {{country.region}}</p>
          <p>Subregion: {{country.subregion}}</p>
          <p>Population: {{country.population}}</p>
          <p>Area: {{country.area}}</p>
          <p>Borders: {{country.borders}}</p>
          <p>Timezones: {{country.timezones}}</p>
          <p>Languages: {{country.languages|json}}</p>
          <p>Currencies: {{country.currencies|json}}</p>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Search by capital city">
    <div class="content" role="main">
      <div class="card">
        <div class="form-group">
          <label for="search-text-capital">Search country by capital city</label>
          <input type="email" class="form-control" id="search-text-capital" aria-describedby="search-text"
                 [(ngModel)]="capitalCity"
                 placeholder="Enter capital city to search" autofocus>
          <button mat-raised-button color="primary" (click)="searchByCapitalCity()">Search</button>

        </div>
      </div>
    </div>
    <div class="content" role="main">
      <div class="card">
        <div class="form-group">
          <h2>{{country.name}} Details</h2>
          <p>Domain: {{country.demonym}}</p>
          <p>Capital: {{country.capital}}</p>
          <p>Region: {{country.region}}</p>
          <p>Subregion: {{country.subregion}}</p>
          <p>Population: {{country.population}}</p>
          <p>Area: {{country.area}}</p>
          <p>Borders: {{country.borders}}</p>
          <p>Timezones: {{country.timezones}}</p>
          <p>Languages: {{country.languages|json}}</p>
          <p>Currencies: {{country.currencies|json}}</p>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Search by currency">
    <div class="content" role="main">
      <div class="card">
        <div class="form-group">
          <label for="search-text-currency">Search country by currency</label>
          <input type="email" class="form-control" id="search-text-currency" aria-describedby="search-text"
                 [(ngModel)]="currency"
                 placeholder="Enter country to search" autofocus>
          <button mat-raised-button color="primary" (click)="searchByCurrency()">Search</button>

        </div>
      </div>
    </div>
    <div class="content" role="main">
      <div class="card">
        <div class="form-group">
          <h2>{{country.name}} Details</h2>
          <p>Domain: {{country.demonym}}</p>
          <p>Capital: {{country.capital}}</p>
          <p>Region: {{country.region}}</p>
          <p>Subregion: {{country.subregion}}</p>
          <p>Population: {{country.population}}</p>
          <p>Area: {{country.area}}</p>
          <p>Borders: {{country.borders}}</p>
          <p>Timezones: {{country.timezones}}</p>
          <p>Languages: {{country.languages|json}}</p>
          <p>Currencies: {{country.currencies|json}}</p>
        </div>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>

